.jumbotron { 
    background-color: #e2edff;
}
.jumbotron h1 {
    letter-spacing: -3px;
}
#projects {
    background-color: #e2edff;
}
section {
    padding-top: 4rem;
}

/* tablet */
@media screen and (max-width : 785px){
    .jumbotron h1 {
        letter-spacing: -1px;
    }
}
@media screen and (max-width : 500px){
    .jumbotron h1 {
        letter-spacing: -1px;
    }
}